nav {
  margin-top: 6rem;
}

.nav__item {
  background-color: transparent;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__item--left {
  margin-right: auto;
}

.nav__item--logo {
  height: 4rem;
}

.nav__item--link {
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2.5rem;
  color: #fff;
  text-decoration: none;
  transition: all 300ms ease 0s;
}

.nav__item--link:hover {
  color: #f06666;
}

.active {
  color: #f06666;
}
